
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

html, body {
  font-family: "Roboto Serif", serif;
  background-color: #d14002;
}
h1 {
  color: #f7ed77;
}
nav ul {
  list-style-type:none;
  background-color:#6032a8;
  border: 2px solid #111111;
  border-radius:10px;
  font-family: "Roboto Serif", serif;
  font-weight:bold;
  padding:15px;
}
nav ul li{
  display:inline;
  border-right:2px solid #111111;
  padding-right:8px;
  padding-left:8px;
}
nav ul li:last-child{
  border-right:none;}
nav ul li a {
  text-decoration:none;
  color:#111111;
}
nav ul li.selected{
  color:393939;
}


 
